body {
	font: small/1.6em Verdana,Helvetica, Arial;
}

.elixirs h3 { 
	color: #d12c47;
}

.elixirs {
line-height: 1;

}

h1, h2 {
	color: #007e7e; 
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}

div h2 {
color: black;
}

#guarantee {
  border-color:        white;
  border-width:        1px;
  border-style:        dashed;
  background-color:    #a7cece;
	padding:             25px;
	margin:              30px;
	line-height:         1.9em;
	font-style: oblique;
	color:#444444;
	font-family: Georgia, "Times New Roman";
	background-image: url(images/background.gif);
	background-repeat: no-repeat;
  background-position: top left;
	padding: 25px;
  padding-left: 80px;
	margin-right: 250px;
}
p {
  border-style: dashed;
	border-color: white;
	border-top-right-radius: 2em;
	border-top-left-radius: 2em;
}
.elixirs {
	border: thin solid #007e7e;
	width: 200px;
	padding-right:   20px;
	padding-bottom:  20px;
	padding-left:    20px;
	margin-left:     20px;
	background-repeat: repeat-x;
	text-align: center;
	background-image: url(images/cocktail.gif);
	float:right;
}
.cd {
	font-style: italic;
}

.artist {
	font-weight: bold;
}

.elixirs a:link {
  color: #007e7e;
}

.elixirs a:visited {
  color: #333333;
}

.elixirs a:hover {
  background: #f88396;
  color: #0d5353;
}



