#line5_txt {
background-color: #00664F;
background-color: #E63B53
}

#line5_pic_1 {
position: absolute;top: 40%;
}

#p {
color: #fff;text-align: center;font-size: 20px;font-weight: 500;padding-bottom: 15px;
color: #fff;text-align: center;font-size: 15px;
}

#line5_pic_2 {
position: absolute;top: 40%;
}

#p {
color: #fff;text-align: center;font-size: 20px;font-weight: 500;padding-bottom: 15px;
color: #fff;text-align: center;font-size: 15px;margin-left: 30px;
}