.line5 {
  display: flex;
  flex-wrap: wrap;
}
.line5 a {
  display: inline-block;
  text-decoration: none;
  width: 50%;
  height: 400px;
  box-sizing: border-box;
  display: flex;
}
.line5_txt1{
  width: 378.5px;
  height: 100%;
  position: relative;
  background-color: #00664F;
}
.line5_pic_1 {
position: absolute;top: 40%;
}
.header1 {
color: #fff;text-align: center;font-size: 20px;font-weight: 500;padding-bottom: 15px;
}
.content {
color: #fff;text-align: center;font-size: 15px;
}

.line5_underline_1 {
  position: absolute;
  height: 10px;
  width: 120px;
  border-bottom: 2px solid #fff;
  bottom: -11%;
  left: 33%;
}
.line5_underline_1::after {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 2px;
  background: #fff;
  transform: rotate(45deg);
  right: -1%;
  top: 40%;
}
.line5-text2 {
background-color: #E63B53;
position: relative;
width: 378.5px;
height: 100%;
}
.line5_pic_2 {
position: absolute;top: 40%;
}
.heraer2 {
color: #fff;text-align: center;font-size: 20px;font-weight: 500;padding-bottom: 15px;
}
.content2{
color: #fff;text-align: center;font-size: 15px;margin-left: 30px;
}
.line5_underline_2 {
  position: absolute;
  height: 10px;
  width: 120px;
  border-bottom: 2px solid #fff;
  bottom: 42%;
  left: 40%;
}
.line5_underline_2::after {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 2px;
  background: #fff;
  transform: rotate(45deg);
  right: -1%;
  top: 40%;
}
.line5_pic_3 {
position: absolute;top: 77%;left: 30%;
}
.heraer3 {
color: #333;text-align: center;font-size: 20px;font-weight: 500;padding-bottom: 15px;
}
.content3{
color: #7b7b7b;text-align: center;font-size: 15px;
}
.line5_underline_3 {
  position: absolute;
  height: 10px;
  width: 120px;
  border-bottom: 2px solid #000;
  bottom: -215%;
  left: 20%;
}
.line5_underline_3::after {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 2px;
  background: #000;
  transform: rotate(45deg);
  right: -1%;
  top: 40%;
}
.line5_dot_1 {
  width: 13px;
  height: 13px;
  border: 1px solid #000;
  position: absolute;
  top: 450px;
  left: 400px;
  border-radius: 50%;
}
.line5_dot_2 {
  width: 13px;
  height: 13px;
  border: 1px solid #000;
  position: absolute;
  top: 452px;
  left: 448px;
  border-radius: 50%;
}
.line5_dot_3 {
  width: 13px;
  height: 13px;
  border: 1px solid #000;
  position: absolute;
  top: 452px;
  left: 468px;
  border-radius: 50%;
}
.line5_rectangle {
  width: 25px;
  height: 13px;
  background-color: #e63b53;
  position: absolute;
  top: 452px;
  left: 417px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.line5_equal {
  width: 13px;
  height: 13px;
  position: absolute;
  color: #000;
  font-weight: 700;
  top: 432px;
  left: 489px;
}
.heraer4 {
color: #333;text-align: center;font-size: 20px;font-weight: 500;padding-bottom: 15px;
}
.content4{
color: #7b7b7b;text-align: center;font-size: 15px;
}
.line5_underline_4 {
  position: absolute;
  height: 10px;
  width: 120px;
  border-bottom: 2px solid #000;
  bottom: -215%;
  left: 30%;
}
.line5_underline_4::after {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 2px;
  background: #000;
  transform: rotate(45deg);
  right: -1%;
  top: 40%;
}

.line5_pic_1::after {
  content: "";
  display: block;
  position: absolute;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 30px solid #00664f;
  right: -8%;
  bottom: 25%;
  z-index: 10;
}
.line5_pic_2::after {
  content: "";
  display: block;
  position: absolute;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 30px solid #e63b53;
  right: -22%;
  bottom: 194%;
  z-index: 10;
}
.line5_pic_3::after {
  content: "";
  display: block;
  position: absolute;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 30px solid #fff;
  left: 105%;
  bottom: -264%;
  z-index: 10;
}
.line5_pic_4::after {
  content: "";
  display: block;
  position: absolute;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 30px solid #fff;
  background-color: #fff;
  left: -48%;
  bottom: 14%;
  z-index: 10;
}
.line5_img {
  width: 378.5px;
  height: 100%;
  overflow: hidden;
}
.line5_1_img {
  background-image: url("../期末修改/images/ZnaQqJdfGzJdebzXgxWg.jpg");
  background-size: cover;
}
.line5_1_img:hover {
  transform: scale(1.05);
  transition-duration: 0.6s;
}
.line5_2_img {
  background-image: url("../期末修改/images/kqqCbZiSUBOzQFPlmPSu.jpg");
  background-size: cover;
}
.line5_2_img:hover {
  transform: scale(1.05);
  transition-duration: 0.6s;
}
.line5_3_img {
  background-image: url("../期末修改/images/KmGDXTQKQekNTYonbtrK.jpg");
  background-size: cover;
}
.line5_3_img:hover {
  transform: scale(1.05);
  transition-duration: 0.6s;
}
.line5_4_img {
  background-image: url("../期末修改/images/KmGDXTQKQekNTYonbtrK.jpg");
  background-size: cover;
}
.line5_4_img:hover {
  transform: scale(1.05);
  transition-duration: 0.7s;
}